# Ignore visible files and folders.
/[^.]*

# Dot files not to track.
.cache
.CFUserTextEncoding
.conda
.config/iterm2
.config/litecli/history
.config/litecli/log
.config/lnav
.config/nvim/lazy-lock.json
.config/vscodium/globalStorage
.config/vscodium/History
.config/vscodium/workspaceStorage
.continue
.diffusionbee
.ipython
.jan
.jupyter
.lesshst
.local/bin
.local/include
.local/lib
.local/share
.local/state
# CrossOver .mailcap, .mime.types
.mailcap
.mime.types
.npm
.ollama
.ssh
.thumbnails
.tldrc
.Trash
.viminfo
.vscode*
.webui_secret_key
.wget-hsts
.zcompcache
.zsh_history
.zsh_plugins.zsh
.zsh_sessions
