# Ignore base directory files and folders.
/[a-zA-Z0-9]*

# Dot files not to track.
.bundle
.cache
.CFUserTextEncoding
.colima
.conda
.config/gh
.config/nvim/lazy-lock.json
.config/zed
.cups
.ddev
.diffusionbee
.docker
.ipython
.jupyter
.lesshst
.lima
.lldb
.local/**
# Track support scripts.
!.local/*/
!.local/bin/_*
.mailcap
.mime.types
.mutagen
.ngrok2
.npm
.python_history
.sqlite_history
.ssh
.swiftpm
.thumbnails
.tldrc
.Trash
.vim
.viminfo
.vscode
.zcompcache
.zcompdump
.zsh_history
.zsh_plugins.zsh
.zsh_sessions
