<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_anyWindow</key>
	<false/>
	<key>KeyboardShortcuts_area</key>
	<string>{"carbonModifiers":4352,"carbonKeyCode":21}</string>
	<key>KeyboardShortcuts_fullscreen</key>
	<string>{"carbonKeyCode":20,"carbonModifiers":4352}</string>
	<key>KeyboardShortcuts_ocr</key>
	<string>{"carbonKeyCode":18,"carbonModifiers":4352}</string>
	<key>KeyboardShortcuts_reopen</key>
	<string>{"carbonKeyCode":23,"carbonModifiers":4352}</string>
	<key>KeyboardShortcuts_repeatArea</key>
	<string>{"carbonKeyCode":21,"carbonModifiers":6400}</string>
	<key>KeyboardShortcuts_scrolling</key>
	<string>{"carbonKeyCode":19,"carbonModifiers":4352}</string>
	<key>KeyboardShortcuts_window</key>
	<false/>
	<key>SettingsIndex</key>
	<array>
		<string>KeyboardShortcuts_anyWindow</string>
		<string>KeyboardShortcuts_area</string>
		<string>KeyboardShortcuts_fullscreen</string>
		<string>KeyboardShortcuts_ocr</string>
		<string>KeyboardShortcuts_reopen</string>
		<string>KeyboardShortcuts_repeatArea</string>
		<string>KeyboardShortcuts_scrolling</string>
		<string>KeyboardShortcuts_window</string>
	</array>
</dict>
</plist>
