<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Visible Battery</key>
	<false/>
	<key>NSStatusItem Visible Bluetooth</key>
	<false/>
	<key>NSStatusItem Visible WiFi</key>
	<false/>
	<key>SettingsIndex</key>
	<array>
		<string>NSStatusItem Visible Bluetooth</string>
		<string>NSStatusItem Visible WiFi</string>
		<string>NSStatusItem Visible Battery</string>
	</array>
</dict>
</plist>
