<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>WindowDuplicate Tab</key>
		<string>@d</string>
		<key>WindowPin Tab</key>
		<string>@$p</string>
		<key>WindowUnpin Tab</key>
		<string>@$p</string>
		<key>Add Bookmark…</key>
		<string>@b</string>
		<key>Hide Reader</key>
		<string>~ </string>
		<key>Mute Other Tab</key>
		<string>^,</string>
		<key>Mute Other Tabs</key>
		<string>^,</string>
		<key>Mute This Tab</key>
		<string>^m</string>
		<key>Search Results SnapBack</key>
		<string>^c</string>
		<key>Show Reader</key>
		<string>~ </string>
		<key>Unmute Other Tab</key>
		<string>^,</string>
		<key>Unmute Other Tabs</key>
		<string>^,</string>
		<key>Unmute This Tab</key>
		<string>^m</string>
	</dict>
	<key>OpenNewTabsInFront</key>
	<false/>
	<key>SearchProviderShortName</key>
	<string>DuckDuckGo</string>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
		<string>OpenNewTabsInFront</string>
		<string>TabCreationPolicy</string>
		<string>ShowStandaloneTabBar</string>
		<string>SearchProviderShortName</string>
	</array>
	<key>ShowStandaloneTabBar</key>
	<false/>
	<key>TabCreationPolicy</key>
	<integer>0</integer>
</dict>
</plist>
