<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoOpenSafeDownloads</key>
	<false/>
	<key>EnableEnhancedPrivacyInRegularBrowsing</key>
	<true/>
	<key>EnableNarrowTabs</key>
	<false/>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>BookmarksCopy Text Fragment</key>
		<string>@^l</string>
		<key>HistoryBack</key>
		<string>^z</string>
		<key>HistoryForward</key>
		<string>^x</string>
		<key>HistoryReturn to Search Results</key>
		<string>^c</string>
		<key>ViewHide Reader</key>
		<string>~ </string>
		<key>ViewShow Reader</key>
		<string>~ </string>
		<key>WindowMute Other Tab</key>
		<string>@~,</string>
		<key>WindowMute Other Tabs</key>
		<string>@~,</string>
		<key>WindowMute This Tab</key>
		<string>@~m</string>
		<key>WindowUnmute Other Tab</key>
		<string>@~,</string>
		<key>WindowUnmute Other Tabs</key>
		<string>@~,</string>
		<key>WindowUnmute This Tab</key>
		<string>@~m</string>
	</dict>
	<key>OpenNewTabsInFront</key>
	<false/>
	<key>PrivateBrowsingRequiresAuthentication</key>
	<true/>
	<key>PrivateSearchEngineUsesNormalSearchEngineToggle</key>
	<true/>
	<key>ReadingListSaveArticlesOfflineAutomatically</key>
	<true/>
	<key>SearchProviderShortName</key>
	<string>DuckDuckGo</string>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
		<string>OpenNewTabsInFront</string>
		<string>TabCreationPolicy</string>
		<string>ShowStandaloneTabBar</string>
		<string>SearchProviderShortName</string>
		<string>AutoOpenSafeDownloads</string>
		<string>EnableEnhancedPrivacyInRegularBrowsing</string>
		<string>EnableNarrowTabs</string>
		<string>PrivateBrowsingRequiresAuthentication</string>
		<string>PrivateSearchEngineUsesNormalSearchEngineToggle</string>
		<string>ReadingListSaveArticlesOfflineAutomatically</string>
		<string>WebKitPreferences.privateClickMeasurementEnabled</string>
		<string>WebKitPreferences.tabFocusesLinks</string>
		<string>WebKitTabToLinksPreferenceKey</string>
	</array>
	<key>ShowStandaloneTabBar</key>
	<false/>
	<key>TabCreationPolicy</key>
	<integer>0</integer>
	<key>WebKitPreferences.privateClickMeasurementEnabled</key>
	<false/>
	<key>WebKitPreferences.tabFocusesLinks</key>
	<true/>
	<key>WebKitTabToLinksPreferenceKey</key>
	<true/>
</dict>
</plist>
