<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFixedPitchFont</key>
	<string>LilexNF-Regular</string>
	<key>NSFixedPitchFontSize</key>
	<string>15</string>
	<key>NSFont</key>
	<string>Helvetica</string>
	<key>NSFontSize</key>
	<string>15</string>
	<key>NSShowAppCentricOpenPanelInsteadOfUntitledFile</key>
	<false/>
	<key>SettingsIndex</key>
	<array>
		<string>NSFixedPitchFont</string>
		<string>NSFixedPitchFontSize</string>
		<string>NSFont</string>
		<string>NSFontSize</string>
		<string>NSShowAppCentricOpenPanelInsteadOfUntitledFile</string>
	</array>
</dict>
</plist>
