<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisabledFonts</key>
	<array>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-RegularItalic.otf#postscript-name=NewYorkSmall-RegularItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-SemiboldItalic.otf#postscript-name=NewYorkExtraLarge-SemiboldItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-RegularItalic.otf#postscript-name=NewYorkLarge-RegularItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-Bold.otf#postscript-name=NewYorkMedium-Bold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Light.otf#postscript-name=SFCompactDisplay-Light</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-Semibold.otf#postscript-name=NewYorkLarge-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Semibold.otf#postscript-name=SFProRounded-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-BoldItalic.otf#postscript-name=NewYorkMedium-BoldItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-Heavy.otf#postscript-name=NewYorkExtraLarge-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-Semibold.otf#postscript-name=NewYorkExtraLarge-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-RegularItalic.otf#postscript-name=NewYorkMedium-RegularItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-BlackItalic.otf#postscript-name=NewYorkExtraLarge-BlackItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-SemiboldItalic.otf#postscript-name=SFCompactText-SemiboldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Bold.otf#postscript-name=SFCompactText-Bold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Bold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-Bold.otf#postscript-name=NewYorkExtraLarge-Bold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-Heavy.otf#postscript-name=NewYorkSmall-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Thin.otf#postscript-name=SFCompactDisplay-Thin</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-Semibold.otf#postscript-name=NewYorkSmall-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-HeavyItalic.otf#postscript-name=NewYorkSmall-HeavyItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Heavy.otf#postscript-name=SFCompactRounded-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-BoldItalic.otf#postscript-name=SFCompactText-BoldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Bold.otf#postscript-name=SFCompactDisplay-Bold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Light.otf#postscript-name=SFCompactText-Light</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-HeavyItalic.otf#postscript-name=SFCompactText-HeavyItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-HeavyItalic.otf#postscript-name=NewYorkLarge-HeavyItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-SemiboldItalic.otf#postscript-name=NewYorkMedium-SemiboldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Medium</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Medium.otf#postscript-name=SFCompactText-Medium</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-Bold.otf#postscript-name=NewYorkSmall-Bold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-BoldItalic.otf#postscript-name=NewYorkSmall-BoldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Ultralight.otf#postscript-name=SFCompactRounded-Ultralight</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-BlackItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-SemiboldItalic.otf#postscript-name=NewYorkSmall-SemiboldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Black.otf#postscript-name=SFCompactRounded-Black</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Heavy.otf#postscript-name=SFCompactDisplay-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Thin.otf#postscript-name=SFCompactText-Thin</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Black.otf#postscript-name=SFCompactText-Black</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-SemiboldItalic.otf#postscript-name=NewYorkLarge-SemiboldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Thin.otf#postscript-name=SFProRounded-Thin</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-ThinItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Black</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-BoldItalic.otf#postscript-name=NewYorkLarge-BoldItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-Regular.otf#postscript-name=NewYorkMedium-Regular</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-Heavy.otf#postscript-name=NewYorkLarge-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-BlackItalic.otf#postscript-name=SFCompactText-BlackItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Black.otf#postscript-name=SFCompactDisplay-Black</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Ultralight</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-UltralightItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-RegularItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Thin.otf#postscript-name=SFCompactRounded-Thin</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-UltralightItalic.otf#postscript-name=SFCompactText-UltralightItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Heavy.otf#postscript-name=SFCompactText-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Semibold.otf#postscript-name=SFCompactText-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Bold.otf#postscript-name=SFCompactRounded-Bold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Thin</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-ThinItalic.otf#postscript-name=SFCompactText-ThinItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Semibold.otf#postscript-name=SFCompactRounded-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Ultralight.otf#postscript-name=SFProRounded-Ultralight</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Regular.otf#postscript-name=SFCompactDisplay-Regular</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Ultralight.otf#postscript-name=SFCompactText-Ultralight</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-RegularItalic.otf#postscript-name=SFCompactText-Italic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-MediumItalic.otf#postscript-name=NewYorkSmall-MediumItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-Heavy.otf#postscript-name=NewYorkMedium-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-Medium.otf#postscript-name=NewYorkSmall-Medium</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-BlackItalic.otf#postscript-name=NewYorkLarge-BlackItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Heavy.otf#postscript-name=SFProRounded-Heavy</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-BlackItalic.otf#postscript-name=NewYorkMedium-BlackItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Black.otf#postscript-name=SFProRounded-Black</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-LightItalic.otf#postscript-name=SFCompactText-LightItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Light.otf#postscript-name=SFProRounded-Light</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-Regular.otf#postscript-name=NewYorkExtraLarge-Regular</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-BoldItalic.otf#postscript-name=NewYorkExtraLarge-BoldItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-Medium.otf#postscript-name=NewYorkLarge-Medium</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-Regular.otf#postscript-name=SFCompactText-Regular</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-Medium.otf#postscript-name=NewYorkExtraLarge-Medium</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-Black.otf#postscript-name=NewYorkExtraLarge-Black</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Semibold.otf#postscript-name=SFCompactDisplay-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-HeavyItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-HeavyItalic.otf#postscript-name=NewYorkExtraLarge-HeavyItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-LightItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-BlackItalic.otf#postscript-name=NewYorkSmall-BlackItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-MediumItalic.otf#postscript-name=NewYorkLarge-MediumItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-HeavyItalic.otf#postscript-name=NewYorkMedium-HeavyItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Medium.otf#postscript-name=SFCompactRounded-Medium</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-Semibold.otf#postscript-name=NewYorkMedium-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-Regular.otf#postscript-name=NewYorkLarge-Regular</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-Black.otf#postscript-name=NewYorkSmall-Black</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-RegularItalic.otf#postscript-name=NewYorkExtraLarge-RegularItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-MediumItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Medium.otf#postscript-name=SFCompactDisplay-Medium</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-BoldItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkSmall-Regular.otf#postscript-name=NewYorkSmall-Regular</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Italic.ttf#postscript-name=SFCompact-SemiboldItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Text-MediumItalic.otf#postscript-name=SFCompactText-MediumItalic</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkExtraLarge-MediumItalic.otf#postscript-name=NewYorkExtraLarge-MediumItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Regular.otf#postscript-name=SFProRounded-Regular</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Light</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Bold.otf#postscript-name=SFProRounded-Bold</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Regular.otf#postscript-name=SFCompactRounded-Regular</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-Bold.otf#postscript-name=NewYorkLarge-Bold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-MediumItalic.otf#postscript-name=NewYorkMedium-MediumItalic</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Display-Ultralight.otf#postscript-name=SFCompactDisplay-Ultralight</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact-Rounded-Light.otf#postscript-name=SFCompactRounded-Light</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Regular</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-Medium.otf#postscript-name=NewYorkMedium-Medium</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkMedium-Black.otf#postscript-name=NewYorkMedium-Black</string>
		<string>file:///Users/joon/Library/Fonts/SF-Compact.ttf#postscript-name=SFCompact-Semibold</string>
		<string>file:///Users/joon/Library/Fonts/NewYorkLarge-Black.otf#postscript-name=NewYorkLarge-Black</string>
		<string>file:///Users/joon/Library/Fonts/SF-Pro-Rounded-Medium.otf#postscript-name=SFProRounded-Medium</string>
	</array>
	<key>SettingsIndex</key>
	<array>
		<string>DisabledFonts</string>
	</array>
</dict>
</plist>
