<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComputerViewSettings</key>
	<dict>
		<key>CustomViewStyle</key>
		<string>clmv</string>
		<key>CustomViewStyleVersion</key>
		<string>1</string>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<string>0</string>
			<key>ShowSidebar</key>
			<string>0</string>
			<key>ShowStatusBar</key>
			<string>0</string>
			<key>ShowTabView</key>
			<string>0</string>
			<key>ShowToolbar</key>
			<string>1</string>
			<key>WindowBounds</key>
			<string>{{451, 343}, {825, 392}}</string>
		</dict>
	</dict>
	<key>DesktopViewSettings</key>
	<dict>
		<key>GroupBy</key>
		<string>Kind</string>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>dateAdded</string>
			<key>backgroundColorBlue</key>
			<string>1</string>
			<key>backgroundColorGreen</key>
			<string>1</string>
			<key>backgroundColorRed</key>
			<string>1</string>
			<key>backgroundType</key>
			<string>0</string>
			<key>gridOffsetX</key>
			<string>0</string>
			<key>gridOffsetY</key>
			<string>0</string>
			<key>gridSpacing</key>
			<string>100</string>
			<key>iconSize</key>
			<string>40</string>
			<key>labelOnBottom</key>
			<string>0</string>
			<key>showIconPreview</key>
			<string>1</string>
			<key>showItemInfo</key>
			<string>1</string>
			<key>textSize</key>
			<string>13</string>
			<key>viewOptionsVersion</key>
			<string>1</string>
		</dict>
	</dict>
	<key>FXPreferredViewStyle</key>
	<string>clmv</string>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>GoEnclosing Folder</key>
		<string>^c</string>
		<key>Enclosing Folder in New Window</key>
		<string>^$c</string>
	</dict>
	<key>PreviewPaneSettings</key>
	<dict>
		<key>com.adobe.pdf</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemTitle</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAuthors</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemDescription</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemVersion</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemNumberOfPages</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemPageDimensions</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemSecurityMethod</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCreator</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemEncodingApplications</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>com.apple.application</key>
		<dict>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.archive</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.audio</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemTitle</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemPixelDimensions</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemDurationSeconds</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAuthors</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemPerformers</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemDirector</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemProducer</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemGenre</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCopyright</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAudioChannelCount</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAudioSampleRate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemBitsPerSample</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCodecs</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemEncodingApplications</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemOriginalFormat</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemOriginalSource</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemStarRating</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemInformation</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemDescription</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAlbum</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemMusicalGenre</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemRecordingDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemComposer</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemRecordingYear</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemComment</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.folder</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.html</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemTitle</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemSubject</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemOrganizations</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemAuthors</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemComment</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemContentCreationDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemContentModificationDate</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.image</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemContentCreationDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemPixelDimensions</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemResolutionDimensions</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemColorSpace</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemProfileName</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemAcquisitionMake</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemAcquisitionModel</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLensModel</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemAperture</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemMaxAperture</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemExposureTimeSeconds</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemFocalLength</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemISOSpeed</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemFlashOnOff</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemFNumber</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemExposureProgram</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemMeteringMode</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhiteBalance</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCreator</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemGPSCoordinates</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.item</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>com_apple_xcode_dsym_uuids</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.movie</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemPixelDimensions</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemCodecs</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemProfileName</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemNamedLocation</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCity</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemStateOrProvince</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCountry</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLatitude</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLongitude</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemDescription</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemTitle</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemDurationSeconds</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemAuthors</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemPerformers</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemDirector</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemProducer</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemGenre</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemCopyright</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAudioChannelCount</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemAudioSampleRate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemBitsPerSample</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemEncodingApplications</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemOriginalFormat</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemOriginalSource</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemStarRating</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemInformation</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.symlink</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
		<key>public.text</key>
		<dict>
			<key>options</key>
			<array>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kPreviewOptionsItemTagAttribute</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserCreatedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemUserModifiedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemLastUsedDate</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemKeywords</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>name</key>
					<string>kMDItemWhereFroms</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemTitle</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemSubject</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemOrganizations</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemAuthors</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemEditors</string>
				</dict>
				<dict>
					<key>isActive</key>
					<string>0</string>
					<key>isDynamic</key>
					<string>1</string>
					<key>name</key>
					<string>kMDItemComment</string>
				</dict>
			</array>
			<key>showQuickActions</key>
			<string>0</string>
		</dict>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
		<string>StandardViewOptions</string>
		<string>DesktopViewSettings</string>
		<string>StandardViewSettings</string>
		<string>ComputerViewSettings</string>
		<string>FXPreferredViewStyle</string>
		<string>PreviewPaneSettings</string>
	</array>
	<key>StandardViewOptions</key>
	<dict>
		<key>ColumnViewOptions</key>
		<dict>
			<key>ArrangeBy</key>
			<string>dnam</string>
			<key>ColumnShowFolderArrow</key>
			<string>1</string>
			<key>ColumnShowIcons</key>
			<string>1</string>
			<key>ColumnWidth</key>
			<string>275</string>
			<key>FontSize</key>
			<string>12</string>
			<key>PreviewDisclosureState</key>
			<string>1</string>
			<key>SharedArrangeBy</key>
			<string>kipl</string>
			<key>ShowIconThumbnails</key>
			<string>0</string>
			<key>ShowPreview</key>
			<string>1</string>
		</dict>
		<key>GalleryViewOptions</key>
		<dict>
			<key>ShowPreviewPane</key>
			<string>1</string>
			<key>ShowTitles</key>
			<string>0</string>
		</dict>
	</dict>
	<key>StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<string>1</string>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<string>1</string>
					<key>width</key>
					<string>560</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>ubiquity</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>35</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>181</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>181</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>97</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>115</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>100</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>75</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>300</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>200</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>dateAdded</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>181</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>210</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>210</string>
				</dict>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>identifier</key>
					<string>invitationStatus</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>210</string>
				</dict>
			</array>
			<key>iconSize</key>
			<string>16</string>
			<key>scrollPositionX</key>
			<string>0</string>
			<key>scrollPositionY</key>
			<string>0</string>
			<key>showIconPreview</key>
			<string>0</string>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<string>12</string>
			<key>useRelativeDates</key>
			<string>1</string>
			<key>viewOptionsVersion</key>
			<string>0</string>
		</dict>
		<key>GalleryViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>iconSize</key>
			<string>64</string>
			<key>showIconPreview</key>
			<string>1</string>
			<key>viewOptionsVersion</key>
			<string>1</string>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>backgroundColorBlue</key>
			<string>1</string>
			<key>backgroundColorGreen</key>
			<string>1</string>
			<key>backgroundColorRed</key>
			<string>1</string>
			<key>backgroundType</key>
			<string>0</string>
			<key>gridOffsetX</key>
			<string>0</string>
			<key>gridOffsetY</key>
			<string>0</string>
			<key>gridSpacing</key>
			<string>100</string>
			<key>iconSize</key>
			<string>40</string>
			<key>labelOnBottom</key>
			<string>0</string>
			<key>showIconPreview</key>
			<string>1</string>
			<key>showItemInfo</key>
			<string>1</string>
			<key>textSize</key>
			<string>12</string>
			<key>viewOptionsVersion</key>
			<string>1</string>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<string>1</string>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>index</key>
					<string>7</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>300</string>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>index</key>
					<string>2</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>181</string>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>index</key>
					<string>8</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>200</string>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>index</key>
					<string>1</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>181</string>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>index</key>
					<string>4</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>115</string>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>index</key>
					<string>5</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>100</string>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>index</key>
					<string>0</string>
					<key>visible</key>
					<string>1</string>
					<key>width</key>
					<string>560</string>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<string>0</string>
					<key>index</key>
					<string>3</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>97</string>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<string>1</string>
					<key>index</key>
					<string>6</string>
					<key>visible</key>
					<string>0</string>
					<key>width</key>
					<string>75</string>
				</dict>
			</dict>
			<key>iconSize</key>
			<string>16</string>
			<key>scrollPositionX</key>
			<string>0</string>
			<key>scrollPositionY</key>
			<string>0</string>
			<key>showIconPreview</key>
			<string>0</string>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<string>12</string>
			<key>useRelativeDates</key>
			<string>1</string>
			<key>viewOptionsVersion</key>
			<string>0</string>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
</dict>
</plist>
