<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SettingsIndex</key>
	<array>
		<string>autohide</string>
		<string>autohide-delay</string>
		<string>wvous-br-corner</string>
		<string>wvous-br-modifier</string>
		<string>expose-group-apps</string>
		<string>mru-spaces</string>
		<string>tilesize</string>
		<string>wvous-bl-corner</string>
		<string>wvous-bl-modifier</string>
		<string>wvous-tl-corner</string>
		<string>wvous-tl-modifier</string>
		<string>wvous-tr-corner</string>
		<string>wvous-tr-modifier</string>
		<string>show-recents</string>
		<string>show-process-indicators</string>
		<string>launchanim</string>
	</array>
	<key>autohide</key>
	<true/>
	<key>autohide-delay</key>
	<real>86400</real>
	<key>expose-group-apps</key>
	<true/>
	<key>launchanim</key>
	<false/>
	<key>mru-spaces</key>
	<false/>
	<key>show-process-indicators</key>
	<false/>
	<key>show-recents</key>
	<true/>
	<key>tilesize</key>
	<real>48</real>
	<key>wvous-bl-corner</key>
	<integer>1</integer>
	<key>wvous-bl-modifier</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>14</integer>
	<key>wvous-br-modifier</key>
	<integer>262144</integer>
	<key>wvous-tl-corner</key>
	<integer>1</integer>
	<key>wvous-tl-modifier</key>
	<integer>0</integer>
	<key>wvous-tr-corner</key>
	<integer>1</integer>
	<key>wvous-tr-modifier</key>
	<integer>0</integer>
</dict>
</plist>
