<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFixedPitchFont</key>
	<string>IMWritingMonoNF-Regular</string>
	<key>NSFixedPitchFontSize</key>
	<string>16</string>
	<key>NSFont</key>
	<string>IMWritingDuoNFP-Regular</string>
	<key>NSFontSize</key>
	<string>16</string>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>MessageSend</key>
		<string>@↩</string>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
		<string>NSFixedPitchFontSize</string>
		<string>NSFontSize</string>
		<string>NSFixedPitchFont</string>
		<string>NSFont</string>
	</array>
</dict>
</plist>
