<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSizeCategory</key>
	<dict>
		<key>com.apple.Magnifier</key>
		<string>UseGlobal</string>
		<key>com.apple.MobileSMS</key>
		<string>UseGlobal</string>
		<key>com.apple.Notes</key>
		<string>UseGlobal</string>
		<key>com.apple.accessibility.AccessibilityReader</key>
		<string>UseGlobal</string>
		<key>com.apple.finder</key>
		<string>Custom</string>
		<key>com.apple.iBooksX</key>
		<string>UseGlobal</string>
		<key>com.apple.iCal</key>
		<string>UseGlobal</string>
		<key>com.apple.journal</key>
		<string>UseGlobal</string>
		<key>com.apple.mail</key>
		<string>UseGlobal</string>
		<key>com.apple.news</key>
		<string>UseGlobal</string>
		<key>com.apple.reminders</key>
		<string>UseGlobal</string>
		<key>com.apple.stocks</key>
		<string>UseGlobal</string>
		<key>com.apple.weather</key>
		<string>UseGlobal</string>
		<key>global</key>
		<string>M</string>
		<key>version</key>
		<string>3.0</string>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>closeViewDesiredZoomFactor</string>
		<string>closeViewFarPoint</string>
		<string>closeViewNearPoint</string>
		<string>FontSizeCategory</string>
		<string>reduceTransparency</string>
	</array>
	<key>closeViewDesiredZoomFactor</key>
	<real>2</real>
	<key>closeViewFarPoint</key>
	<real>2</real>
	<key>closeViewNearPoint</key>
	<real>4</real>
	<key>reduceTransparency</key>
	<false/>
</dict>
</plist>
