<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Delete Conversation\U2026</key>
		<string>@\U232b</string>
		<key>New Message</key>
		<string>@$n</string>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
	</array>
</dict>
</plist>
