<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSizeCategory</key>
	<dict>
		<key>com.apple.MobileSMS</key>
		<string>UseGlobal</string>
		<key>com.apple.Notes</key>
		<string>UseGlobal</string>
		<key>com.apple.finder</key>
		<string>Custom</string>
		<key>com.apple.iBooksX</key>
		<string>UseGlobal</string>
		<key>com.apple.iCal</key>
		<string>UseGlobal</string>
		<key>com.apple.mail</key>
		<string>UseGlobal</string>
		<key>com.apple.news</key>
		<string>UseGlobal</string>
		<key>com.apple.stocks</key>
		<string>UseGlobal</string>
		<key>com.apple.weather</key>
		<string>UseGlobal</string>
		<key>global</key>
		<string>XL</string>
		<key>version</key>
		<string>3.0</string>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>closeViewDesiredZoomFactor</string>
		<string>closeViewFarPoint</string>
		<string>closeViewNearPoint</string>
		<string>FontSizeCategory</string>
		<string>keyboardAccessCommandMap</string>
	</array>
	<key>closeViewDesiredZoomFactor</key>
	<real>2</real>
	<key>closeViewFarPoint</key>
	<real>2</real>
	<key>closeViewNearPoint</key>
	<real>4</real>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBnAAsADAAR
	ADUAOwA8AD0ARABIAEkATQBOAFIAUwBXAFgAXABdAGEAYgBmAGcAawBsAHAAcQB1AHYA
	egB7AH8AgACEAIUAiQCKAI4AkwCUAJUAmQCdAKAApgCnAKgAqQCsALEAsgCzALYAuwC8
	AL0AwADGAMcAyADJAMwA0QDSANMA1gDbANwA3QDgAOUA5gDnAOoA7wDwAPEA9AD6APsA
	/AD9AQABBQEGAQcBCgEQAREBEgETARYBGwEcAR0BIAElASYBKQEvATABMQEyATZVJG51
	bGzSAA0ADgAPABBfEBNjb21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4ACgGbTABIAEwAO
	ABQAJAA0V05TLmtleXNaTlMub2JqZWN0c68QDwAVABYAFwAYABkAGgAbABwAHQAeAB8A
	IAAhACIAI4ADgAeACYALgA2AD4ARgBOAFYAXgBmAG4AdgB+AIa8QDwAlACYAJwAoACkA
	KgArACwALQAuAC8AMAAxADIAM4AjgCmALoAygDaAO4A/gEOAR4BLgFCAVIBZgF2AYIBl
	0wA2ADcADgA4ADkAOlR0eXBlXxAZc3RhbmRhcmRDb21tYW5kSWRlbnRpZmllcoAEgAWA
	BlhTdGFuZGFyZF8QD0dvVG9MYXN0RWxlbWVudNIAPgA/AEAAQVokY2xhc3NuYW1lWCRj
	bGFzc2VzXxATQVhTU0tleWJvYXJkQ29tbWFuZKIAQgBDXxATQVhTU0tleWJvYXJkQ29t
	bWFuZFhOU09iamVjdNMANgA3AA4AOABGADqABIAIgAZaV2luZG93TGlzdNMANgA3AA4A
	OABLADqABIAKgAZeTW92ZUluc2lkZU5leHTTADYANwAOADgAUAA6gASADIAGXxASTW92
	ZUluc2lkZVByZXZpb3Vz0wA2ADcADgA4AFUAOoAEgA6ABl8QEVByZXZpb3VzVGV4dEZp
	ZWxk0wA2ADcADgA4AFoAOoAEgBCABl8QFFBlcmZvcm1EZWZhdWx0QWN0aW9u0wA2ADcA
	DgA4AF8AOoAEgBKABlZNb3ZlVXDTADYANwAOADgAZAA6gASAFIAGWU1vdmVSaWdodNMA
	NgA3AA4AOABpADqABIAWgAZfEBBHb1RvRmlyc3RFbGVtZW500wA2ADcADgA4AG4AOoAE
	gBiABl8QD0FwcGxpY2F0aW9uTGlzdNMANgA3AA4AOABzADqABIAagAZYTW92ZUxlZnTT
	ADYANwAOADgAeAA6gASAHIAGVEhlbHDTADYANwAOADgAfQA6gASAHoAGWE1vdmVEb3du
	0wA2ADcADgA4AIIAOoAEgCCABl1OZXh0VGV4dEZpZWxk0wA2ADcADgA4AIcAOoAEgCKA
	Bl8QEUFjdGl2YXRlVHlwZWFoZWFk0gCLAA4AjACNVGtleXOAJIAo0gATAA4AjwCSogCQ
	AJGAJYAmgCdhIeVRNNIAPgA/AJYAl15OU011dGFibGVBcnJheaMAlgCYAENXTlNBcnJh
	edIAPgA/AJoAm1xBWFNTS2V5Q2hvcmSiAJwAQ1xBWFNTS2V5Q2hvcmTSAIsADgCeAI2A
	KoAo0gATAA4AoQCSowCiAKMApIArgCyALYAnYSHnYSHlUXfSAIsADgCqAI2AL4Ao0gAT
	AA4ArQCSogCuAK+AMIAxgCdhIeVRbtIAiwAOALQAjYAzgCjSABMADgC3AJKiALgAuYA0
	gDWAJ2Eh5VFw0gCLAA4AvgCNgDeAKNIAEwAOAMEAkqMAwgDDAMSAOIA5gDqAJ2EjA2Eh
	51EJ0gCLAA4AygCNgDyAKNIAEwAOAM0AkqIAzgDPgD2APoAnYSQjYSHl0gCLAA4A1ACN
	gECAKNIAEwAOANcAkqIA2ADZgEGAQoAnYSHlUWvSAIsADgDeAI2ARIAo0gATAA4A4QCS
	ogDiAOOARYBGgCdhIeVRbNIAiwAOAOgAjYBIgCjSABMADgDrAJKiAOwA7YBJgEqAJ2Eh
	5VEw0gCLAA4A8gCNgEyAKNIAEwAOAPUAkqMA9gD3APiATYBOgE+AJ2Eh52Eh5VFh0gCL
	AA4A/gCNgFGAKNIAEwAOAQEAkqIBAgEDgFKAU4AnYSHlUWjSAIsADgEIAI2AVYAo0gAT
	AA4BCwCSowEMAQ0BDoBWgFeAWIAnYSHnYSHlUT/SAIsADgEUAI2AWoAo0gATAA4BFwCS
	ogEYARmAW4BcgCdhIeVRatIAiwAOAR4AjYBegCjSABMADgEhAJKiASIAxIBfgDqAJ2Ej
	A9IAiwAOAScAjYBhgCjSABMADgEqAJKjASsBLAEtgGKAY4BkgCdhIedhIeVRZtIAPgA/
	ATMBNF8QE05TTXV0YWJsZURpY3Rpb25hcnmjATMBNQBDXE5TRGljdGlvbmFyedIAPgA/
	ATcBOF8QFkFYU1NLZXlib2FyZENvbW1hbmRNYXCiATkAQ18QFkFYU1NLZXlib2FyZENv
	bW1hbmRNYXAACAAZACIALAAxADoAPwBRAFYAWwBdAS4BNAE9AVMBWgFcAV4BawFzAX4B
	nwGhAaMBpQGnAakBqwGtAa8BsQGzAbUBtwG5AbsBvQHeAeAB4gHkAeYB6AHqAewB7gHw
	AfIB9AH2AfgB+gH8Af4CCwIQAiwCLgIwAjICOwJNAlYCYQJqAoAChQKbAqQCsQKzArUC
	twLCAs8C0QLTAtUC5ALxAvMC9QL3AwwDGQMbAx0DHwMzA0ADQgNEA0YDXQNqA2wDbgNw
	A3cDhAOGA4gDigOUA6EDowOlA6cDugPHA8kDywPNA98D7APuA/AD8gP7BAgECgQMBA4E
	EwQgBCIEJAQmBC8EPAQ+BEAEQgRQBF0EXwRhBGMEdwSABIUEhwSJBJIElwSZBJsEnQSg
	BKIEqwS6BMEEyQTSBN8E5ATxBPoE/AT+BQcFDgUQBRIFFAUWBRkFHAUeBScFKQUrBTQF
	OQU7BT0FPwVCBUQFTQVPBVEFWgVfBWEFYwVlBWgFagVzBXUFdwWABYcFiQWLBY0FjwWS
	BZUFlwWgBaIFpAWtBbIFtAW2BbgFuwW+BccFyQXLBdQF2QXbBd0F3wXiBeQF7QXvBfEF
	+gX/BgEGAwYFBggGCgYTBhUGFwYgBiUGJwYpBisGLgYwBjkGOwY9BkYGTQZPBlEGUwZV
	BlgGWwZdBmYGaAZqBnMGeAZ6BnwGfgaBBoMGjAaOBpAGmQagBqIGpAamBqgGqwauBrAG
	uQa7Br0GxgbLBs0GzwbRBtQG1gbfBuEG4wbsBvEG8wb1BvcG+gcDBwUHBwcQBxcHGQcb
	Bx0HHwciByUHJwcwB0YHTQdaB2MHfAeBAAAAAAAAAgIAAAAAAAABOgAAAAAAAAAAAAAA
	AAAAB5o=
	</data>
</dict>
</plist>
