<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>FileLock Note</key>
		<string>@l</string>
		<key>FilePin Note</key>
		<string>@p</string>
		<key>FileRemove Lock</key>
		<string>@l</string>
		<key>FileUnpin Note</key>
		<string>@p</string>
		<key>ViewHide Folders</key>
		<string>@^s</string>
		<key>ViewRecent NotesNext Note</key>
		<string>^x</string>
		<key>ViewRecent NotesPrevious Note</key>
		<string>^z</string>
		<key>ViewShow Folders</key>
		<string>@^s</string>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
	</array>
</dict>
</plist>
