<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComputerViewSettings</key>
	<dict>
		<key>CustomViewStyle</key>
		<string>clmv</string>
		<key>CustomViewStyleVersion</key>
		<string>1</string>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<false/>
			<key>ShowSidebar</key>
			<false/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{615, 420}, {825, 464}}</string>
		</dict>
	</dict>
	<key>DesktopViewSettings</key>
	<dict>
		<key>GroupBy</key>
		<string>None</string>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>kind</string>
			<key>axTextSize</key>
			<real>13</real>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>100</real>
			<key>iconSize</key>
			<real>40</real>
			<key>labelOnBottom</key>
			<false/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<true/>
			<key>textSize</key>
			<real>13</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>FXDefaultSearchScope</key>
	<string>SCcf</string>
	<key>FinderSpawnTab</key>
	<false/>
	<key>FontSizeCategory</key>
	<string>Custom</string>
	<key>ICloudViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<false/>
			<key>ShowSidebar</key>
			<false/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{615, 410}, {825, 464}}</string>
		</dict>
	</dict>
	<key>NSToolbar Configuration Browser</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>com.apple.finder.BACK</string>
			<string>com.apple.finder.SWCH</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.ARNG</string>
			<string>com.apple.finder.SHAR</string>
			<string>com.apple.finder.LABL</string>
			<string>com.apple.finder.ACTN</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.SRCH</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>com.apple.finder.BACK</string>
			<string>com.apple.finder.SRCH</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>GoEnclosing Folder</key>
		<string>^c</string>
		<key>GoEnclosing Folder in New Window</key>
		<string>~^c</string>
		<key>ViewHide Preview Options</key>
		<string>@~j</string>
		<key>ViewShow Preview Options</key>
		<string>@~j</string>
	</dict>
	<key>NetworkViewSettings</key>
	<dict>
		<key>CustomViewStyle</key>
		<string>clmv</string>
		<key>CustomViewStyleVersion</key>
		<string>1</string>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<false/>
			<key>ShowSidebar</key>
			<false/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{615, 420}, {825, 464}}</string>
		</dict>
	</dict>
	<key>NewWindowTarget</key>
	<string>PfHm</string>
	<key>NewWindowTargetPath</key>
	<string>file:///Users/joon/</string>
	<key>SettingsIndex</key>
	<array>
		<string>ComputerViewSettings</string>
		<string>DesktopViewSettings</string>
		<string>NetworkViewSettings</string>
		<string>NSUserKeyEquivalents</string>
		<string>StandardViewOptions</string>
		<string>ICloudViewSettings</string>
		<string>NSToolbar Configuration Browser</string>
		<string>WarnOnEmptyTrash</string>
		<string>_FXSortFoldersFirstOnDesktop</string>
		<string>NewWindowTargetPath</string>
		<string>NewWindowTarget</string>
		<string>FinderSpawnTab</string>
		<string>FXDefaultSearchScope</string>
		<string>FontSizeCategory</string>
		<string>StandardViewSettings</string>
		<string>ShowMountedServersOnDesktop</string>
	</array>
	<key>ShowMountedServersOnDesktop</key>
	<true/>
	<key>StandardViewOptions</key>
	<dict>
		<key>ColumnViewOptions</key>
		<dict>
			<key>ArrangeBy</key>
			<string>dnam</string>
			<key>ColumnShowFolderArrow</key>
			<true/>
			<key>ColumnShowIcons</key>
			<true/>
			<key>ColumnWidth</key>
			<integer>275</integer>
			<key>FontSize</key>
			<integer>13</integer>
			<key>PreviewDisclosureState</key>
			<true/>
			<key>SharedArrangeBy</key>
			<string>kipl</string>
			<key>ShowIconThumbnails</key>
			<false/>
			<key>ShowPreview</key>
			<true/>
		</dict>
		<key>GalleryViewOptions</key>
		<dict>
			<key>ShowPreviewPane</key>
			<true/>
			<key>ShowTitles</key>
			<true/>
		</dict>
	</dict>
	<key>StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>axTextSize</key>
			<real>14</real>
			<key>calculateAllSizes</key>
			<true/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>336</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>ubiquity</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateAdded</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>invitationStatus</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<real>32</real>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<real>14</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
		<key>GalleryViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>iconSize</key>
			<string>64</string>
			<key>showIconPreview</key>
			<true/>
			<key>viewOptionsVersion</key>
			<string>1</string>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>axTextSize</key>
			<real>13</real>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>100</real>
			<key>iconSize</key>
			<real>188</real>
			<key>labelOnBottom</key>
			<true/>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>13</real>
			<key>viewOptionsVersion</key>
			<string>1</string>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>axTextSize</key>
			<real>14</real>
			<key>calculateAllSizes</key>
			<true/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>336</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<real>32</real>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<real>14</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>WarnOnEmptyTrash</key>
	<false/>
	<key>_FXSortFoldersFirstOnDesktop</key>
	<true/>
</dict>
</plist>
