<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Normally (5 sec)</key>
		<string>@~5</string>
		<key>Often (2 sec)</key>
		<string>@~2</string>
		<key>Quit Process</key>
		<string>@~q</string>
		<key>Very often (1 sec)</key>
		<string>@~1</string>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
	</array>
</dict>
</plist>
