<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAccentColor</key>
	<integer>0</integer>
	<key>AppleActionOnDoubleClick</key>
	<string>Minimize</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleFontSmoothing</key>
	<integer>0</integer>
	<key>AppleHighlightColor</key>
	<string>1.000000 0.733333 0.721569 Red</string>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleMenuBarVisibleInFullscreen</key>
	<true/>
	<key>AppleReduceDesktopTinting</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>WhenScrolling</string>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>10</integer>
	<key>AppleSpacesSwitchOnActivate</key>
	<true/>
	<key>AppleWindowTabbingMode</key>
	<string>manual</string>
	<key>InitialKeyRepeat</key>
	<real>20</real>
	<key>KeyRepeat</key>
	<real>1</real>
	<key>NSApplicationShowExceptions</key>
	<true/>
	<key>NSCloseAlwaysConfirmsChanges</key>
	<false/>
	<key>NSFullScreenDarkMenu</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>NSQuotedKeystrokeBinding</key>
	<string>^q</string>
	<key>NSRepeatCountBinding</key>
	<string>^r</string>
	<key>NSTableViewDefaultSizeMode</key>
	<integer>2</integer>
	<key>NSTextKillRingSize</key>
	<integer>5</integer>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>EditEmoji &amp; Symbols</key>
		<string>@$e</string>
		<key>GoBack</key>
		<string>^z</string>
		<key>GoForward</key>
		<string>^x</string>
		<key>ViewEnter Full Screen</key>
		<string>@^f</string>
		<key>ViewExit Full Screen</key>
		<string>@^f</string>
		<key>ViewHide Sidebar</key>
		<string>@^s</string>
		<key>ViewShow Sidebar</key>
		<string>@^s</string>
		<key>WindowCenter</key>
		<string>^$c</string>
		<key>WindowDuplicate Tab</key>
		<string>^$d</string>
		<key>WindowFill</key>
		<string>^$f</string>
		<key>WindowFull Screen TileLeft of Screen</key>
		<string>@^w</string>
		<key>WindowFull Screen TileMake Window Full Screen</key>
		<string>@^t</string>
		<key>WindowFull Screen TileReplace Tiled Window</key>
		<string>@^r</string>
		<key>WindowFull Screen TileRight of Screen</key>
		<string>@^e</string>
		<key>WindowMinimize</key>
		<string>^$m</string>
		<key>WindowMinimize All</key>
		<string>~^$m</string>
		<key>WindowMove &amp; ResizeReturn to Previous Size</key>
		<string>^$r</string>
		<key>WindowMove Tab to New Window</key>
		<string>^$t</string>
		<key>WindowRemove Window from Set</key>
		<string>^$d</string>
		<key>WindowZoom</key>
		<string>^$z</string>
		<key>WindowZoom All</key>
		<string>~^$z</string>
		<key>Lock Screen</key>
		<string>@$</string>
	</dict>
	<key>NSWindowResizeTime</key>
	<real>0.065000000000000002</real>
	<key>NSWindowShouldDragOnGesture</key>
	<true/>
	<key>SettingsIndex</key>
	<array>
		<string>NSUserKeyEquivalents</string>
		<string>AppleMenuBarVisibleInFullscreen</string>
		<string>NSWindowResizeTime</string>
		<string>NSFullScreenDarkMenu</string>
		<string>NSWindowShouldDragOnGesture</string>
		<string>AppleFontSmoothing</string>
		<string>AppleAccentColor</string>
		<string>AppleHighlightColor</string>
		<string>AppleSpacesSwitchOnActivate</string>
		<string>AppleWindowTabbingMode</string>
		<string>InitialKeyRepeat</string>
		<string>KeyRepeat</string>
		<string>NSApplicationShowExceptions</string>
		<string>NSQuitAlwaysKeepsWindows</string>
		<string>AppleActionOnDoubleClick</string>
		<string>NSCloseAlwaysConfirmsChanges</string>
		<string>NSTableViewDefaultSizeMode</string>
		<string>AppleShowScrollBars</string>
		<string>AppleInterfaceStyleSwitchesAutomatically</string>
		<string>com.apple.sound.beep.feedback</string>
		<string>AppleReduceDesktopTinting</string>
		<string>NSRepeatCountBinding</string>
		<string>NSQuotedKeystrokeBinding</string>
		<string>NSTextKillRingSize</string>
		<string>AppleAntiAliasingThreshold</string>
		<string>AppleSmoothFixedFontsSizeThreshold</string>
		<string>com.apple.mouse.doubleClickThreshold</string>
		<string>com.apple.springing.delay</string>
		<string>com.apple.trackpad.scrolling</string>
	</array>
	<key>com.apple.mouse.doubleClickThreshold</key>
	<real>0.5</real>
	<key>com.apple.sound.beep.feedback</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.0</real>
	<key>com.apple.trackpad.scrolling</key>
	<real>0.58819999999999995</real>
</dict>
</plist>
