<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSServicesStatus</key>
	<dict>
		<key>(null) - 0944B5AC-8D0E-4390-A1B2-F26C00712ABF - runShortcutAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>@$6</string>
		</dict>
		<key>(null) - 804B9E31-A6D4-4BE3-BBA6-43B3FA23A808 - runShortcutAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>FinderPreview</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
				<key>TouchBar</key>
				<false/>
			</dict>
		</dict>
		<key>(null) - 86385BD0-5E7E-4F71-8AEC-618D2A47F5E9 - runShortcutAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>$</string>
		</dict>
		<key>(null) - B2826BA2-E914-46BA-8424-4F7210359380 - runShortcutAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>@$0</string>
		</dict>
		<key>(null) - C6DB1838-1C62-4B0C-8512-EC16316B9C32 - runShortcutAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>$</string>
		</dict>
		<key>(null) - DA6B1724-F40D-4158-ABBB-01292C8C8407 - runShortcutAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>$</string>
		</dict>
		<key>(null) - Finder 2 Column View - runWorkflowAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>@$</string>
		</dict>
		<key>(null) - Finder 3 Column View - runWorkflowAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>@$</string>
		</dict>
		<key>(null) - Finder 4 Column View - runWorkflowAsService</key>
		<dict>
			<key>key_equivalent</key>
			<string>@$</string>
		</dict>
		<key>co.gitup.mac - Open in GitUp - openRepository</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text from Simplified to Traditional Chinese - convertTextToTraditionalChinese</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text from Traditional to Simplified Chinese - convertTextToSimplifiedChinese</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text to Full Width - convertTextToFullWidth</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.ChineseTextConverterService - Convert Text to Half Width - convertTextToHalfWidth</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Dictionary - Look Up in Dictionary - doLookupService</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.FolderActionsSetup - Folder Actions Setup - openFilesFromPasteboard</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Safari - Add to Reading List - addToReadingList</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Safari - Search With %WebSearchProvider@ - searchWithWebSearchProvider</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Stickies - Make Sticky - makeStickyFromTextService</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - New Terminal Tab at Folder - newTerminalAtFolder</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - New Terminal at Folder - newTerminalAtFolder</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - Open man Page in Terminal - openManPage</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.Terminal - Search man Page Index in Terminal - searchManPages</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - Activity Monitor - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - Allocations &amp; Leaks - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - File Activity - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.Instruments - System Trace - targetFrontAppWithTemplate</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Time Profile Active Application - timeProfileFrontMost</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Time Profile App Under Mouse - timeProfileUnderMouse</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Time Profile Entire System - timeProfileSystem</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.dt.instruments.backgroundinstruments - Toggle Instruments Recording - toggleRecordingState</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.finder - Finder/Open - open</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.finder - Finder/Reveal - reveal</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.finder - Finder/Show Info - showInfo</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.mail - Mail/New Email To Address - mailTo</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.mail - Mail/New Email With Selection - mailSelection</key>
		<dict>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.addToiTunesAsSpokenTrack - Add to Music as a Spoken Track - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.setDesktopPicture - Set Desktop Picture - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.services.showMap - Show Map - runWorkflowAsService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.systemuiserver - Open URL - openURL</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.kapeli.dashdoc - Create Snippet in Dash - createSnippetService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.kapeli.dashdoc - Look Up in Dash - lookupService</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.mitchellh.ghostty - New Ghostty Tab Here - openTab</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.mitchellh.ghostty - New Ghostty Window Here - openWindow</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.mothersruin.Apparency - Open With Apparency - openBundle</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.mothersruin.SuspiciousPackageApp - Open With Suspicious Package - openSelectedPackage</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.resilio.Sync - Share with Resilio Sync - menuShareFiles</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>com.resilio.Sync - Sync to this device - accentuatebts</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.hammerspoon.Hammerspoon - Send to Hammerspoon - processDockIconDraggedFile</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
		<key>org.hammerspoon.Hammerspoon - Send to Hammerspoon - processDockIconDraggedText</key>
		<dict>
			<key>enabled_context_menu</key>
			<false/>
			<key>enabled_services_menu</key>
			<false/>
			<key>presentation_modes</key>
			<dict>
				<key>ContextMenu</key>
				<false/>
				<key>ServicesMenu</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>SettingsIndex</key>
	<array>
		<string>NSServicesStatus</string>
	</array>
</dict>
</plist>
